
.nav-item {
    padding: 0 18px;
  }
.title-image{
   width: 100%;
   height: 25%;
}
.h3tag{
    color: gray;
    font-size: medium;
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

.big-heading{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 15px;
}

.bigs{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 30;
    padding-top: 5%;
    padding-bottom: 0%;
}
.carousel-inner{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 40%;
   
  }
.big-heading2{
    font-family: 'Lobster', cursive;
    font-size: 45;

}
.colored-section{
    padding-bottom: 0%;
    margin-bottom: 0%;
    border: 0%;
}
.nav-link{
    color: darkslategrey;
}
#aboutus{
    padding: 0px 0;
    border: 0%;
}
.aboutus-img1{
    width: 250px;
    margin-top:20px;
}
.aboutus-img{
    width: 350px;
    height: 250px;
    margin-top: 20px;
}

.services{
    padding: 20px;
}
.services p{
    font-family: 'Inter Tight', sans-serif;
    font-weight: bolder;
    color: rgb(94, 94, 94);
    line-height: 1.8;
    font-size: 16px;
    text-align: left;
}
.services h4{
    padding: 5px;
    margin-top: 5px;
    font-family: 'Inter Tight', sans-serif;
    font-weight: bolder;
}
#contactus{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 15%;
}
h2{
    font-family: 'Lobster', cursive;
    font-size: 35px;   
    padding-bottom: 30px;
}
.title{
    padding-bottom: 0;
}
h5{
    padding-bottom: 5px;
}
.business-hours {
    text-align: center;
}
.business-hours ul {
    line-height: 30px;
    }
.business-hours .opening-hours tr.today {
    color: black; 
    font-weight: bolder;
}

.opening-hours-table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}
iframe{
    width: 80%;
     height: 450px;
     padding-top: 5%;
}
.social-icon {
    margin: 20px 10px;
  }
.white-section{
    padding: 0%;
    text-align: center;
    size: 2px;
    font-size: 25px;
}